/* Galerie Automobile */

.solid {
  /*retrouvez moi au rdv des VAG*/
  /*clear: both;*/
  text-align: center;
}


/* carte gouesnou */
/* From Uiverse.io by adamgiebl */
/* .card {
  width: 780px;
  height: 600px;
  border-radius: 30px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  overflow: hidden;
  margin: 120px auto;
} */

/* flip-card du portfolio */
.flip-card {
  background-color: transparent;
  width: 600px;
  height: 450px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  perspective: 1000px;
  font-size: small;
}

.flip-card-inner {
  /*paramètre de l'image, face avant de la carte*/
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  /*rotation de la flip-card*/
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  /*paramètre de la flip-card*/
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  /*face arrière*/
  background-color: #404040;
  color: white;
  transform: rotateY(180deg);
}

.title {
  /*titre de la face arrière de la carte*/
  font-family: "TT Nooks Script Trial", serif;
  font-weight: 700;
  font-size: xx-large;
}

.flip-card-front {
  /*face avant*/
  background-color: white;
}

#image {
  /*Centrer les flip-card position responsive*/
  text-align: center;
}

.lieu {
  /*Vignette vous êtes ici du rdv des VAG*/
  height: 25px;
  transition: 0.3s;
}

.lieu:hover {
  scale: 1.5;
}

.gouesnou {
  /* lien cliquable vers le facebook des VAG, ne marche pas, et je ne comprends pas pourquoi*/
  transition: 0.3s;
}

.gouesnou.hover {
  scale: 1.2;
  text-decoration: underline black;
  color: black;
}