p {
    text-align: center;
}

#logo {
    display: block;
    margin: 0px auto;
    z-index: 1;
}

/*Inksurfer en gros au milieu*/
#titre {
    display: block;
    font-family: "TT Nooks Script Trial", serif;
    font-weight: 600;
    font-size: 500%;
}


/* Mise en page des partenaires*/

#partenaire {
    text-align: center;
}

.partenaire {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

#accueil {
    /*bouton d'accueil activé*/
    background-color: #404040;
    color: #fee47d;
}