/*      ---         informations générales sur le style du site*/

body {
    background-color: #fee47d;
    color: #404040;

    /*Police d'écriture de titre*/
    @font-face {
        font-family: "TT Nooks Script Trial";
        src: url(TT Nooks Script Trial Black.otf);
    }

    /*Police d'écriture de texte*/
    @font-face {
        font-family: "TT Nooks Script Trial Light";
        src: url(TT Nooks Script Trial Light.otf);
    }


    font-family: "TT Nooks Script Trial Light", system-ui, serif;
    font-size: 120%;


    /*Police d'écriture Boulette font
    @font-face {
        font-family: "Boulette font";
        src: url(boulette.ttf);
    }*/

    /*marges*/
    padding: 0px;
    margin: 0px;
}


/*      ---         les fonctions de mise en page générale*/

/*les strong sont normalisé*/
strong {
    font-weight: inherit;
}

/*les liens sont normalisé*/
a {
    color: inherit;
    text-decoration: none;
}


/*      ---       Bandeau Supérieur et Inférieur*/
/*défintion des bandeaux*/
.Bandeau {
    background-color: white;
    padding: 20px;
    width: 120%;
    margin-left: -20px;
}

/*position du bandeau suppérieur par rapport au haut de page*/
#sup { 
    position: fixed; 
    top: 25px;
    z-index: 2;
}

/*position du bandeau inférieur par rapport au haut de page*/
#inf {
    position: fixed;
    bottom: 0px;
    z-index: 2;
}

/*      ---         Bandeau sup*/
#accueil {
    /*Bouton de retour à l'accueil*/
    /*box*/
    background-color: #409a81;
    padding: 20px;
    margin-left: 50px; 

    /*text*/
    font-family: "TT Nooks Script Trial", serif;
    font-weight: 500;
    font-size: larger;
    text-decoration: none;
    color: inherit;
}

#menu {
    /*bande menu*/
    position: absolute; /*le bandeau du menu ne défile pas*/
    right: 20%;
    margin-left: 200px;
    overflow: auto;
}

.bouton {
    /*bouton menu*/
    /*box*/
    margin-left: 20px;
    /*text*/
    text-decoration: none;
    color: inherit;
}

/*      ---         Bandeau inf*/
#reseaux {
    /*bouton de lien vers les réseaux sociaux*/
    margin-left: 50px;
}


/*pour voir sur quelle page on est sur le menu */
#ici {
    color: #409a81;
}



/*Classe lien pour le portolio en page à propos*/

.lien {
    background-color: #409a81;
    font-family: "TT Nooks Script Trial", serif;
    font-weight: 440;
    color: inherit;
    padding: 20px;
    width: 200px;
    margin: 0px auto;
}

#contact {
    margin-left: 50px;
}




h1{
    font-family: "TT Nooks Script Trial", sans-serif;
    font-size: 400%;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(0deg, #fee47d 50px, #409a81 0%);
    margin-top: 20px;
    padding-bottom: 0px;
}
p{
    font-family: "TT Nooks Script Trial Light";
    font-size: medium;
    font-weight: 400;

}